@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
#money {
  background-color: #b36050;
}
#money > p {
  text-align: center;
  margin: 10px 576px 0px;
  color: #f6f4ec;
}
nav {
  background-color: #f6f4ec;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0px 120px 0;
}
.navigation > ul {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 101px 16px 52px;
  list-style-type: none;
  gap: 32px;
}

a {
  text-decoration: none;
  color: #b4604d;
}

.logo {
  display: inline;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 10px 40px 0;
}
.frame {
  display: flex;
  flex-wrap: wrap;
  width: 499px;
  align-items: center;
  color: #b4604d;
}
.account {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px;
}
.frame > img {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}
.frame > p {
  padding: 1px;
}
.section-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #a9ae8d;
  color: #f6f4ec;
}
.section-1 img {
  display: inline-block;
  text-align: center;
  width: 1440px;
}
.section-1 h3 {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  gap: 599px;
  justify-content: center;
  margin-top: 69px;
}
.section-1 h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 33px;
  justify-content: center;
  margin: 15px 0 28px 0;
}
.section-1 .btn {
  display: flex;
  background-color: #b36050;
  text-align: center;
  width: 120px;
  margin: 28px 666px 51px;
  padding: 10px 20px 10px;
  color: white;
  border: none;
}
.section-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 93px 0 40px;
  background-color: #f6f4ec;
}
.section-2 h2 {
  color: #b45f4d;
  font-size: 23px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 39.2px;
  word-wrap: break-word;
  margin: 0 600px;
}

.brend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 43px 125px 0;
}
.brend img {
  width: 340px;
  height: 510px;
}

.brend-1 h3 {
  margin: 35px 0 23px;
}
.section-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 504px;
  margin: 34px 130px 46px 350px;
}
.section-3 .shop {
  background-color: #b36050;
}
.section-3 img {
  width: 1200px;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  height: 100%;
  padding: 30px 9px 30px 29px;
  margin: -130px 0 10px;
  color: white;
}
section {
}
.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content:space-around ;
}
.section-4 {
  background: #f1d3b9;
}
.section-4 .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4 img {
  display: inline;
  margin: 0 auto;
  width: 500px;
}
.section-5 .container{
    display: flex;
  justify-content: center;
  align-items: center;
}
.section-5 .jpg{
  width: 1200px;
}
.jpg span > img{
  width: 191px;
  height: 130px;
}
.section-5 h3{
  text-align: center;
}
.section-5 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-5 .jpg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 .jpg span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.section-5 span .ras {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  margin: 0 0 0 110px;
}

.section-5 span .ras {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  margin: 0 0 0 110px;
}
.section-5 img:first-child {
  margin-right: 10px;
}

.section-5 img:last-child {
  margin-left: 10px;
} 

.logolar {



}

.logolar img {
    display: flex;
  justify-content: center;
  align-items: center;
    border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: auto;
}

.logolar {
margin-left: -150px;
margin-bottom: -50px;
}
